body, html {
	height: 100%;
	font-size: 13px;
}

.iconic {
	text-decoration: none;
	color: #f8b133;
}

.iconic.large {
	font-size: 20px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li {
	line-height: 26px;
	padding-left: 20px;
	cursor: pointer;
}

li a {
	color: #000;
	text-decoration: none;
	display: block;
}

li.selected {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cb1e3', endColorstr='#3a88cf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#6cb1e3), to(#3a88cf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #6cb1e3,  #3a88cf); /* for firefox 3.6+ */
	
	border-style: solid none solid none;
	border-width: 1px;
	border-top-color: #5fa5dd;
	border-bottom-color: #367cc0;
	
	line-height: 24px;
}

li.selected a {
	color: #fff;
	font-weight: 600;
	text-shadow: #333 0px 1px 1px;
	text-decoration: none;
	display: block;
}

#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #e2e6ec;
	border-style: none solid none none;
	border-width: 1px;
	border-color: #b4b4b4;
}

#sidebar img.logo {
	margin-left: 20px;
	margin-top: 20px;
}

#sidebar ul {
	margin-top: 20px;
}

.column {	
	position: absolute;
	border-style: none solid none none;
	border-width: 1px;
	border-color: #b4b4b4;
	
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height*/
	min-height: 100%;
}

.column {
	margin-left: 201px;
	width: 800px;
}

.column table {
	width: 100%;
}

.column table thead th {
	text-align: left;
	border-style: none none solid none;
	border-width: 1px;
	border-color: #b6b6b6;
	
	height: 24px;
	padding-left: 5px;
	padding-right: 5px;
}

.column table thead tr {
	background-color: #fff;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#ccc'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #ededed); /* for firefox 3.6+ */
}

.column table tfoot tr {
	text-align: left;
	border-style: solid none solid none;
	border-width: 1px;
	border-color: #b6b6b6;
}

.column tbody tr:nth-child(odd) {
	background-color: #e2e6ec;
}

.column table td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.table.column tbody tr, .table.column tfoot tr {
	height: 24px;
}

.detail.column tbody tr, .detail.column tfoot tr {
	height: 48px;
}

