html, body {
	background: #434343;
}

.ui-header {
	z-index: 1000;
}

.ui-body-c {
	background: #434343;
}

.ui-bar-a {
	background: url('../img/header-bg.png') repeat-x top center;
	height: 80px;
	border: none;
}

#city-choose {
	margin-top: 4px;
}

.header-button {
	background: url('../img/header.png');
	width: 74px;
	height: 80px;
	margin: auto;
}

.presented {
	background: url('../img/presented-by.png');
	width: 211px;
	height: 29px;
	margin: auto;
}
  
.map .content {
	width: 100%;   
	min-height: inherit; 
  max-height: inherit;   
}
 
.map .content {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	height: 400px;
	margin-top: -80px;
}

.map_canvas { 
	width: 100%;
	margin: auto;
  min-height: inherit; 
	max-height: inherit;
} 

a.map-link {
	font-size: 14px;  
}

.map-thumb {
	margin-right: 10px;
}

ul {
	width: 280px;
	margin: 15px auto !important;
}

ul.offer-wrapper {
	width: 280px;
	margin: 0px auto 15px auto !important;
}

li.offer {
	border: none;
	width: 280px;
	position: relative;
}

li div.badge {
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	background-image: url("../img/badges.png");
}

li div.badge-0 {
	background-position: 100px 0px;
}

li div.badge-1 {
	background-position: 0px 0px;
}

li div.badge-2 {
	background-position: 50px 0px;
}

li.offer .ui-btn-text a {
	height: 30px;
	
	line-height: 15px;
	
	text-shadow: none;
	
	color: #fff;

	text-align: right;
	font-size: 13px;
	
	padding: 15px 35px 15px 15px !important;
}

li.offer .ui-btn-text a span.price {
	font-size: 19px;
}



.back {
	left: 0px !important;
	top: 0px !important;
  position:absolute;
	width: 48px;
	height: 48px;
	background: #434343 url('../img/back.png') no-repeat center center;
	box-shadow: none !important;
	border-radius: 0;
	border: none;
}

.back span {
	display: none;
}

.city {
	width: 265px;
	margin: 15px auto !important;
	margin-top: 0px !important;

}

.city h3 .ui-btn-inner {
	padding: 0.6em 25px 12px 25px;
}

.city .ui-btn-text {
	font-size: 13px;
	line-height: 13px;
}

.city .ui-btn-up-a, .city .ui-btn-hover-a {
	border: none;
}

.city ul {
	width: auto;
}

.city .ui-icon {
	display: none;
}

.city .ui-btn-inner {
	padding-left: 25px !important;
}

.city ul .ui-btn-inner {
	padding: 5px 5px 5px 5px !important;
}

.list-header {
	width: 280px;
	font-size: 13px;
	margin: 0px auto 5px auto !important;
	padding-left: 15px;
	
	font-weight: bold;
	
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

.detail-page .content, .book-page .content {
	margin-top: 70px;
}

.content li {
	text-align: center;
	line-height: 20px;
	font-weight: normal;
	border: none;
	color: #fff;
	text-shadow: none;
}

.external-book {
	height: 60px;
}

li.external-book .ui-btn-text a {
	line-height: 30px;
	
	height: 30px;
	
	padding: 15px 35px 15px 15px !important;
	
	color: #fff;
	text-shadow: none;
}

.book {
	width: 265px;
	margin: 15px auto !important;
}

.book h3 {
	line-height: 42px;
}

.book a {
	background: #434343 !important;
}

.book .ui-btn-up-a, .book .ui-btn-hover-a {
	border: none;
}

.show-description {
	width: 280px;
	margin: 15px auto !important;
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

.categories {
	margin-top: 0px !important;
}
.categories li {
	text-align: left;
	background-color: #363535;
	font-size: 12px !important;
}

.categories span.cat {
	position: relative;
	margin-left: 20px;
}

.categories span.cat:before {
	position: absolute;
	top: 0px;
	left: -20px;
	content: " ";
	width: 18px;
	height: 18px;
	background-image: url("../img/badges-small.png");
}

.categories span.erbjudande:before {
	background-position: 18px 0px;
}

.categories span.return:before {
	background-position: 36px 0px;
}

.categories span.free:before {
	background-position: 0px 0px;
}

#city-name {
	margin-top: 6px !important;
}
.clearbutton {
	box-shadow: none !important;
	border: none;
	background: none;
	cursor: default;
}

.clearbutton span {
	border: none;
}

.clearbutton .ui-icon {
	right: 4px !important;
}

.clearbutton .ui-btn-text {
	font-size: 11px !important;
}

.clearbutton .ui-btn-inner .ui-btn-inner {
	padding-right: 28px !important;
}

.ui-hide-label.ui-br, .no-field-separator {
    border-bottom-width: 0;
}
.ui-field-contain.ui-hide-label, .no-field-separator {
    margin: 1em 0;
    padding: 0;
}

ul.location li {
	line-height: 40px;
}

.map-thumb {
	float:left;
	background-image: url('../img/map.png');
	height: 40px;
	width: 40px;
}
         

.info-button {
	margin-top: 7px !important;
	margin-left: 8px !important;
	font-size: 11px !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-bar-a {
		background: url('../img/header-bg@2x.png') repeat-x top center;
		background-size: 1px 53px;
	}
	
	.header-button {
		background: url('../img/header@2x.png');
		background-size: 74px 80px;
	}
	
	.presented {
		background: url('../img/presented-by@2x.png');
		background-size: 211px 29px;
	}
	
	.back {
		background: #434343 url('../img/back@2x.png') no-repeat center center;
		background-size: 9px 14px;
	}
	
	.categories span.cat:before {
		background-image: url("../img/badges-small@2x.png");
		background-size: 54px 18px;
	}
	
	li div.badge {
		background-image: url("../img/badges@2x.png");
		background-size: 75px 25px;
	}
	
	.map-thumb {
		background-image: url('../img/map@2x.png');
		background-size: 40px 40px;
	}
}

